<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>순양택배 불량 패킹 검출</title>
    </head>

    <body>
    <figure>
    <div id="background" style="text-align:center">
        <img src="static\images\syWpJYC.png" style="width: 100%; height: auto;">
        <p>
        <button class="btn1" style="font-size: 2em;" onclick="javascript:window.open('/video_feed');">검출하기</button>
        <button class="btn2" style="font-size: 2em;" onclick="javascript:window.open('/video_feed_2');">송장확인</button>
    </p>
    </div>
    </figure>
    </body>
</html>